@mixin border-radius-4($radius: 4px) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
            border-radius: $radius;
}

@mixin circle($width, $color) {
    width: $width;
    height: $width;
    background: $color;
    -webkit-border-radius: $width/2;
       -moz-border-radius: $width/2;
            border-radius: $width/2;
}

@mixin transition($transition) {
    -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
}

@mixin opacity($value){
    $IEValue: $value*100;
    opacity: $value;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
    filter: alpha(opacity=$IEValue);
}

@font-face {
    font-family: 'AgendaBg';
    src: url('../fonts/ag_bg.otf');
    src: url('../fonts/ag_bg_lt.otf');
    src: url('../fonts/ag_bg_me.otf');
    font-weight: normal;
    font-style: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family:'AgendaBg';
}

#home-bg {
    background: url(../img/home-bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.home-section {
    padding-bottom: 50px;

    .text {
        color: #fff;
        font-size: 40px;
        text-align: center;
        display: block;
        margin-bottom: 70px;
    }
    .container {
        max-width: 900px;
    }
    .btn-home {
        max-width: 320px;
        width: 100%;
        height: 66px;
        line-height: 66px;
        color: #fff;
        font-size: 27px;
        text-align: center;
        text-decoration: none;
        display: block;
        @include border-radius-4;
        @include transition(all 0.3s);

        &:hover {
            text-decoration: none;
        }
    }
    .view-video {
        border: 2px solid #fff;
        position: relative;
        float: right;
        margin-right: 15px;

        &:hover i.play {
            right: 15px;
        }
        i.play {
            width: 28px;
            height: 33px;
            display: block;
            position: absolute;
            right: 30px;
            top: 16px;
            background: url(../img/sprite.png) scroll 0 -48px;
            @include transition(all 0.3s);
        }
    }
    .reg {
        float: left;
        background: #be1522;
        margin-left: 15px;

        &:hover {
            background: #9f1520;
        }
    }
}
#logo {
    display: block;
    margin: 45px auto;
    max-width: 107px;
}


.navbar-default {
    background-color: #dadada;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #be1522;
    height: 101px;

    .navbar-brand {
        display: block;
        padding: 0;
        margin: 8px 0 0 30px !important;
        height: auto;
    }
    .navbar-nav {
        float: right !important;
        margin: 130px -10px;
        max-width: 380px;
        width: 100%;

        li {
            margin-top: 45px;
            border-bottom: 1px solid #6e7983;
        }

        a {
            font-size: 26px;
            color: #000 !important;
            display: inline-block;
            position: relative;

            span {
                position: absolute;
                right: -23px;
                top: -16px;
                text-align: center;
                display: block;
                font-size: 24px;
                color: #fff;
                padding-top: 11px;
                @include circle(38px, #be1522);
            }
        }
    }
    .navbar-collapse {
        width: 510px;
        float: right;
        background: #bbbaba;
        border: 1px solid #959595;
        margin-top: -104px;
        margin-right: -10px;
        z-index: 9998;
        position: absolute;
        right: 10px;
    }
}

.navbar-header {
    float: none;
}
.navbar-left,.navbar-right {
    float: none !important;
}
.navbar-toggle {
    display: block;
    z-index: 9999;
}
.navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}
.navbar-collapse.collapse {
    display: none!important;
}
.navbar-nav {
    float: none!important;
    margin-top: 7.5px;
}
.navbar-nav>li {
    float: none;
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}
.collapse.in{
    display:block !important;
}


.navbar-toggle {
    background:none !important;
    border: none;
    margin: 20px 15px !important;

    .icon-bar {
        background-color: #000 !important;
        width: 57px;
        height: 5px;
        margin-bottom: 10px;
        position: relative;
        @include transition(all 500ms ease-in-out);
        @include border-radius-4;
    }

    .icon-bar:nth-of-type(2) {
        top: 0px;
    }
}
.navbar-toggle.active .icon-bar:nth-of-type(1) {
    top: 15px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.navbar-toggle.active .icon-bar:nth-of-type(2) {
    background-color: transparent !important;
}
.navbar-toggle.active .icon-bar:nth-of-type(3) {
    top: -14px;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.border-box {
    border: 1px solid #000;
    border-top: 0;
    position: relative;
    max-width: 315px;
    width: 100%;
    height: 270px;
    margin: 60px auto;

    h1 {
        margin: 20px 0 10px 0;
        font-size: 22px;
        text-align: center;
        text-transform: uppercase;
    }
}
.profile-info {
    position: absolute;
    top: -10px;
    left: -110px;
    background: #fff;
    height: 270px;

    .prof-img {
        a {
            display: inline-block;
            @include circle(220px, #fff)
        }
        img {
            @include circle(220px, #fff)
        }
    }
}
.your-progress {
    background: #fff;
    width: 220px;
    height: 270px;
    position: absolute;
    top: -10px;
    right: -110px;

    #svg {
        padding: 10px;
        transform: rotate(-90deg) !important;
        -ms-transform: rotate(-90deg) !important; /* IE 9 */
        -webkit-transform: rotate(-90deg) !important; /* Chrome, Safari, Opera */
        z-index: 9995;
        position: relative;
        overflow: inherit;
    }
    #svg circle {
        stroke-dashoffset: 0;
        transition: stroke-dashoffset 1s linear;
        stroke: #dadada;
        stroke-width: 37px;
    }
    #svg #bar {
        stroke: #be1522;
    }
    #cont {
        display: block;
        height: 220px;
        width: 220px;
        border-radius: 100%;
        position: relative;
        color: #be1522;
    }
    #cont:after {
        position: absolute;
        display: block;
        height: 160px;
        width: 160px;
        left: 50%;
        top: 50%;
        content: attr(data-pct)"%";
        margin-top: -80px;
        margin-left: -80px;
        border-radius: 100%;
        line-height: 160px;
        font-size: 49px;
        font-weight: 700;
        text-align: center;
    }
}
.menu-section {
    padding-bottom: 100px;

    .container {
        max-width: 1220px;
    }
        .your-badges {
            padding-bottom: 13px;
            border-bottom: 1px solid #000;

            a {
                background: #be1522;
                color: #fff;
                border: 1px solid #000;
                font-size: 20px;
                height: 44px;
                padding: 0 15px;
                line-height: 44px;
                float: left;
                @include border-radius-4;
                @include transition(all 0.3s);

                &:hover {
                    background: #9f1520;
                    text-decoration: none;
                }

                .arrow-right {
                    width: 31px;
                    height: 21px;
                    display: inline-block;
                    background: url(../img/sprite.png) scroll 0 -81px;
                    margin-left: 40px;
                    margin-bottom: -3px;
                }
            }
            a:last-child {
                background: #dddddd;
                @include border-radius-4;
                border: 1px solid #000;
                color: #000;
                height: 44px;
                line-height: 44px;
                padding: 0 15px;
                font-size: 19px;
                text-transform: uppercase;
                float: right;

                &:hover {
                    text-decoration: none;
                }

                span {
                    font-weight: 700;
                    color: #be1522;
                    margin-left: 4px;
                    font-size: 22px;
                    line-height: 42px;

                    em {
                        color: #000;
                        margin: 0 7px 0px 5px;
                        display: inline-block;
                        font-weight: 300;
                        transform: rotate(-14deg) !important;
                        -ms-transform: rotate(-14deg); /* IE 9 */
                        -webkit-transform: rotate(-14deg); /* Chrome, Safari, Opera */
                    }
                }
            }
        }
    ul {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            border-bottom: 1px solid #000;
            padding: 15px 0 5px 0;
        }
        a {
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
            color: #000;
            display: inline-block;

            &:hover {
                text-decoration: none;
            }

            i.circle {
                display: inline-block;
                @include circle(14px, #fff);
                border: 4px solid #bf1522;
                margin-right: 10px;
                margin-bottom: -1px;
            }
        }

        span {
            float: right;
            color: #be1522;
            font-size: 26px;
            font-weight: 700;
            line-height: 16px;
        }
    }
}

/* popup */
.overlayShadow {
    display: table;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 99999;

    .overlayBand {
        display: table-cell;
        vertical-align: middle;

        .overlayBox {
            display: table;
            margin: 0 auto 0 auto;
            max-width: 100%;
            padding: 25px 100px;
            position: relative;

            .reg-form {
                background: #fff;
                width: 580px;
                padding: 60px 25px 45px 25px;
                @include border-radius-4;

                h1 {
                    color: #000;
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 30px;
                    width: 340px;
                    text-align: left;
                    margin-bottom: 50px;

                    i{
                        border: 5px solid #cc2027;
                        display: inline-block;
                        margin: 0 2px;
                        @include circle(20px, #fff);
                    }
                }

                input {
                    width: 100%;
                    border: none;
                    border-bottom: 1px solid #6e7983;
                    outline: none;
                    color: #5b5b5b;
                    height: 68px;
                    font-size: 26px;
                    margin-bottom: 20px;
                }

                .reg-btn {
                    width: 346px;
                    height: 70px;
                    outline: none;
                    border: none;
                    background: #cc150d;
                    color: #fff;
                    font-size: 26px;
                    margin: 20px auto 0 auto;
                    display: block;
                    @include border-radius-4;
                    @include transition(all .3s);

                    &:hover {
                        background: #9f1520;
                    }
                }

                span {
                    display: block;
                    color: #6e7983;
                    font-size: 26px;
                    margin: 15px 0;
                }

                .fb-reg {
                    width: 346px;
                    height: 70px;
                    line-height: 70px;
                    color: #fff;
                    text-align: center;
                    font-size: 23px;
                    margin: 0 auto;
                    display: block;
                    background: #3b5897 url(../img/sprite.png) scroll -12px -115px no-repeat;
                    @include border-radius-4;
                    @include transition(all .3s);

                    &:hover {
                        text-decoration: none;
                        background: #385cac url(../img/sprite.png) scroll -12px -115px no-repeat;
                    }
                }
            }
        }
    }
}
